.section4 {
  position: relative;
  height: 2000px; /* ← 섹션 스크롤 길이 */
}

.website {
  position: sticky;
  top: 0; /* 헤더 아래 */
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.website img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.website-inner{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}