body{
    background-color: var(--bgColor);
    color: var(--textColor);
    height: 5000px;
    /* 스크롤길이랑 문서길이가 같으면 스크롤 자체가 안되니까 길이 따로줌 */
}
.header {
    position: fixed;
    /* 스크롤해도 헤더 위치에 잇게 하긴하지만 */
    width: 100%;    
    /* group애들 space-between가 깨져서 따로 넓이 줘서 그거에 맞겍ㄱ */
    
    transition: transform 0.3s ease;
    /* transform 값이 바뀔 때 0.3초 동안 부드럽게 */
    z-index: 1000;
    /* 겹칠 때 이 요소를 최상단에 배치 */


    height: 80px;
}
.header.hide {
  transform: translateY(-100%);
}

.header.show {
  transform: translateY(0);
}

.group{
     display: flex;  
  /* 필수 */
  justify-content: space-between;
  /* 두 요소 간격 */
  align-items: center;
  /* 한중 중앙 정렬 */
  padding: 25px 0 0 15px;
    /* 상 우 하 좌 */
}

.logo{
    color: var(--org);
    /* color: orangered; */
    font-size:xx-large ;
    margin-left: 5%;
    font-weight: 700;   
    /* 폰트 두껍게 */
  
}

.menu , .Btn{
 /* padding-left: 5px; */
 margin-right: 30px;
 color: var(--textColor);
}

button{
    border-radius: 900px;
    border: none;   
    /* 기본 테두리 제거 */
    padding: 10px 20px;
    /* 이너 동서남북 */
    background-color: var(--org);
    cursor: pointer;
    /* 갖다대면 */
    font-size:small;
    font-weight: 500;
}
.menuTool{
    margin-right: 5%;
}
.menu {
    text-decoration: none;  /*밑줄 제거*/
    font-size: large;
    font-weight: 500;
    position: relative; 
    margin-right: 50px;
    /* 선 위치 기준 ( after가 얘 보고 위치 잡음 )*/
    
}
.menu::after{
    /* 기본선 하나로는 좌우만 되므로 가선을 하나 만듦 */
    content: '';    /*::after를 화면에 존재하게 만드는 필수 속성*/
    position: absolute; /*위치를 내가 직접 지정*/
    bottom: -5px;   /*아래쪽 5px에 선*/
    left: 50%;      /*시작 위치를 가운데로 -> 스타트 지점에서 중앙으로 스타트 옮김*/
    width: 0;   /* 처음엔 안보임 = 길이 0 */
    height: 1px;    /*선 두께*/
    background: var(--textColor);    /*선 색*/
    transform: translateX(-50%);    /*자기 너비의 절반만큼 왼쪽으로 이동 = 중앙*/
    /* transform : 요소 모양,위치 바꾸는 animation ->이동,회전,확.축소,기울이기 가능 */
                                /* transform: translateX(20px);  오른쪽으로 이동 */
                                /* transform: translateY(-10px); 위로 이동 */
                                /* transform: scale(1.2);        1.2배 확대 */
                                /* transform: rotate(10deg);     10도 회전 */
    transition: width 0.3s ease;    /*넓 변할 때 0.3s동안 부드럽게 변함*/
    /* transition : 값이 바뀔 때, 천천히 바뀌게 하는 속성 */
}
.menu:hover::after{
    /*마우스를 a에 올리면 ::after  : 선에게 명령*/
     width: 100%;   
     /* <a> 전체 길이만큼 선이 늘어남 */
      /* text-decoration:underline;     */
      /* 색 X */


}
.logo{
    text-decoration: none;
}